{% extends 'base.html' %}

{% block head %} 

  <title>Ferremas Construcción</title>

{% endblock %}
{% block body %}

  {% for item in items %}
    <div class="item-row">
      <div class="item">{{ item.ID }}</div>
      <div class="item">{{ item.NOMBRE }}</div>
      <div class="item">{{ item.PRECIO }}</div>
      <div class="item">{{ item.DESCRIPCION }}</div>
      <div class="item">{{ item.CANTIDAD }}</div>
    </div>
  {% endfor %}


  <script src="../JS/dropdowns.js"></script>

{% endblock %}